# -----------------------------------
# Python Bytecode
# -----------------------------------
__pycache__/
*.py[cod]

# -----------------------------------
# Virtual Environments
# -----------------------------------
venv/
.venv/
env/

# -----------------------------------
# VS Code Settings (Optional)
# -----------------------------------
.vscode/

# -----------------------------------
# Operating System Files
# -----------------------------------
.DS_Store
Thumbs.db

# -----------------------------------
# Log Files
# -----------------------------------
*.log